{% extends "base.html" %}
{% block content %}

<section class="service-details">

    <span class="service-details-label">SERVICE RECORD</span>

    <h1>{{ record.service_type }}</h1>
        <p class="service-vehicle">
            {{ vehicle.make }} {{ vehicle.model}}
           <span>{{ vehicle.year }}</span>
        </p>
    </header>

    <section class="service-information">
        <div class="service-information-item">
            <span>Status</span>

            {% if record.status == "Completed" %}
                <strong class="service-detail-status service-completed">
                    Completed
                </strong>

            {% elif record.status == "Scheduled" %}
                <strong class="service-detail-status service-scheduled">
                    Scheduled
                </strong>
            
            {% elif record.status == "In Progress" %}
                <strong class="service-detail-status service-in-progress">
                    In Progress
                </strong>
            
            {% elif record.status == "Cancelled" %}
                <strong class="service-detail-status service-cancelled">
                    Cancelled
                </strong>

            {% endif %}
        </div>

        <div class="service-information-item">
            <span>Service Date</span>
            <strong>{{ record.service_date }}</strong>
        </div>

        <div class="service-information-item">
            <span>Mileage</span>
            <strong>{{ record.mileage }} miles</strong>
        </div>

        <div class="service-information-item">
            <span>Cost</span>
            <strong>£{{ record.cost }}</strong>
        </div>

        {% if record.notes %}
        <div class="service-information-item service-notes-item">
            <span>Notes</span>
            <strong>{{ record.notes }}</strong>
        </div>
        {% endif %}
    </section>

    <div class="service-actions">

        <a href="/services/{{ record.id }}/edit" class="edit-service-button">
            Edit Service Record
        </a>

        <a href="/services" class="back-services-button">
            Back to Services
        </a>

        <form
            method="POST"
            action="/services/{{ record.id }}/delete"
            onsubmit="return confirm('Are you sure you want to delete this service record?');"
            >
            <button type="submit" class="delete-service-button">
                Delete Service Record
            </button>
        </form>
        
    </div>
</section>

{% endblock %}